* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.heading {
  text-align: center;
  color: #df5d29;
  margin-top: 20px;
  margin-bottom: 20px;
}
.player-num {
  text-align: center;
  color: #ffc108;
  font-size: 20px;
  font-weight: bold;
}
